
.nav-left {
    width: 100px;
    height: 100%;
    padding-bottom: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #2a3142;
    text-align: center;
}
.main-right {
    margin: 0 15px 0 115px;
}

.nav-left {
    padding-top: 50px;
}
.nav-left h3 {
    color: white;
    font-size: 18px;
}
.nav-left ul a {
    font-size: 16px;
    color: white;
    padding: 5px 0;
    display: inline-block;
    width: 100px;
    text-decoration: none;
}
.nav-left ul a:hover{
    background-color: #3f61b1;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #2a3142;
    color: white
}
.header ul li {
    float: right;
    cursor: pointer;
    padding: 0 15px;
}
.header ul li:hover {
    background-color: #3f61b1;
}
.content {
    margin-top: 70px;
    background-color: wheat;
    padding-bottom: 100%;
}