{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "compact": "false",
  "plugins": ["transform-runtime",["import", {"libraryName": "antd", "style": "css"}]],
  "env": {
    "development": {
    "plugins": [["react-transform", {
       "transforms": [{
         "transform": "react-transform-hmr",

         "imports": ["react"],

         "locals": ["module"]
       }]
     }]]
    }
  }
}